{extend name="/base/index"}
<!--首部--入金-->
{block name="title"}
		<title>线下入金记录</title>
{/block}
{block name="header_recharge"}
<a class="ground-item active" href="/recharge/index.html" style="text-decoration:none;">入金</a>
{/block}
<!--左侧边--线下入金记录-->
{block name="left_bar_offline"}
<li class="submeun-13"><i class="ioc active"></i>
	<a class="l-m-icon active" href="/recharge/offlinetransferrecord.html">线下入金记录</a>
	<span class="active"></span>
</li>
{/block}
<!--右侧显示内容--顶部-->
{block name="right_bar_box_top"}
<input type="hidden" id="ACTIVE_MENU" value="submeun-1" autocomplete="off">
<div class="crumbs">
	<div class="container"> 管理系统&nbsp;&gt;&nbsp;个人中心 &nbsp;&gt;&nbsp;线下入金记录</div>
</div>
{/block}
<!--右侧显示内容-->
{block name="right_bar_box"}
<h1 class="page_title">线下入金记录</h1>
<div class="full" id="dg1">
	<table class="table table-bordered tablerecord table-hover" width="100%" align="center">
		<thead>
			<tr class="tr-th-text-center">
				<th>时间</th>
				<th>转账金额(RMB)</th>
				<th>入金资金(USD)</th>
				<th>状态</th>
			</tr>
		</thead>
		<tbody id="table">
			{volist name = "offline_recharge" id = "offline_recharge"}
			<tr>
				<td>{:date("Y-m-d H:m:s",$offline_recharge.time)}</td>
				<td>{$offline_recharge.number}</td>
				<td>{$offline_recharge.usd}</td>
				<td>{if condition="($offline_recharge.status eq 0)"}未支付{elseif condition="($offline_recharge.status eq 1)"}已支付{elseif condition="($offline_recharge.status eq 2)"}已拒绝{/if}</td>
			</tr>
			{/volist}
		</tbody>
	</table>
	<!--显示分页-->
	{$offline_page}
</div>
{/block}