<ion-view view-title="恒瑞国际" class="back_ec">
	<header class="header">
		<i class="header_i1 icon ion-chevron-left" ng-click="back()"></i>
		<b>编辑自选</b>
	</header>
	<ion-content class="top" overflow-scroll="true">
		<div class="self_box">
			<div class="self_tittle">
				<ul class="edit_selfStyle ">
					<li><i></i>合约名称</li>
					<li><i class="iconfont icon-chahao"></i>天津松江</li>
					<li><i class="iconfont icon-chahao"></i>锦富技术</li>
					<li><i class="iconfont icon-chahao"></i>太化股份</li>
					<li><i class="iconfont icon-chahao"></i>恒指1901</li>
					<li><i class="iconfont icon-chahao"></i>美原油1901</li>
					<li><i class="iconfont icon-chahao"></i>天然气1902</li>
				</ul>
			</div>
			<div class="self_list">
				<ul>
					<li >
						<span>最新价</span>
						<span>涨跌</span>
						<span>买价</span>
						<span>卖价</span>
						<span>涨跌幅</span>
						<span>成交量</span>
						<span>最高价</span>
						<span>最低价</span>
					</li>
					<li>
						<span>55.65</span>
						<span>12</span>
						<span>55.70</span>
						<span>55.70</span>
						<span>-0.09</span>
						<span>1000</span>
						<span>55.65</span>
						<span>55.65</span>
					</li>
					<li>
						<span>55.65</span>
						<span>12</span>
						<span>55.70</span>
						<span>55.70</span>
						<span>-0.09</span>
						<span>1000</span>
						<span>55.65</span>
						<span>55.65</span>
					</li>
					<li>
						<span>55.65</span>
						<span>12</span>
						<span>55.70</span>
						<span>55.70</span>
						<span>-0.09</span>
						<span>1000</span>
						<span>55.65</span>
						<span>55.65</span>
					</li>
					<li>
						<span>55.65</span>
						<span>12</span>
						<span>55.70</span>
						<span>55.70</span>
						<span>-0.09</span>
						<span>1000</span>
						<span>55.65</span>
						<span>55.65</span>
					</li>
					<li>
						<span>55.65</span>
						<span>12</span>
						<span>55.70</span>
						<span>55.70</span>
						<span>-0.09</span>
						<span>1000</span>
						<span>55.65</span>
						<span>55.65</span>
					</li>
					<li>
						<span>55.65</span>
						<span>12</span>
						<span>55.70</span>
						<span>55.70</span>
						<span>-0.09</span>
						<span>1000</span>
						<span>55.65</span>
						<span>55.65</span>
					</li>
				</ul>

			</div>
		</div>
		
		<div style="height: 5rem;">

		</div>
	</ion-content>
</ion-view>