<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/meta" /}
    {include file="public/link" /}
    {include file="public/form" /}
    <style>
        input.check_box{
            width:100px;
        }
        .p_checkbox{
            width: 25%;
            float: left;
        }
    </style>
</head>
<body data-type="index" class="theme-white">
<div class="am-g tpl-g">
    {include file="public/header" /}
    {include file="public/left" /}
    {include file="public/content_top" /}
    <ol class="am-breadcrumb" style="    margin-bottom: 0;">
        <li><a href="../home/index.html" class="am-icon-home">首页</a></li>
        <li><a href="#">内容管理</a></li>
        <li class="am-active">策略榜单</li>
    </ol>
    <div class="widget am-cf">
        <form class="am-cf" id="form" onsubmit="return false">
            <div class="am-panel am-panel-primary">
                <div class="am-panel-hd">基础信息</div>
                <div class="am-form-group">
                    <span class="s1">类型：</span>
                    <label class="am-form-label">
                        <select name="type" title="" class="am-form-field am-input-sm">
                            {if condition ="$list.type eq 1"}
                            <option value="1" selected>策略周榜</option>
                            {else/}
                            <option value="1">策略周榜</option>
                            {/if}
                            {if condition ="$list.type eq 2"}
                            <option value="2" selected>策略动态</option>
                            {else/}
                            <option value="2">策略动态</option>
                            {/if}
                        </select>
                    </label>
                </div>
                <div class="am-form-group">
                    <span class="s1">会员名：</span>
                    <label class="am-form-label">
                        <input type="text" id="" class="am-form-field am-input-sm" name="name" value="{$list['name']}" />
                    </label>
                </div>
               
                <input type="hidden" id="" class="am-form-field am-input-sm" name="id" value="{$list['id']}" />
                <div class="am-form-group">
                    <span class="s1">手机号：</span>
                    <label class="am-form-label">
                        <input type="text" id="" class="am-form-field am-input-sm"  name="phone" value="{$list['phone']}"  placeholder=""/>
                    </label>
                </div>
                <div class="am-form-group">
                    <span class="s1">盈利：</span>
                    <label class="am-form-label">
                        <input type="text" id="" class="am-form-field am-input-sm"  name="profit" value="{$list['profit']}" paceholder=""/>
                    </label>
                </div>
                <div class="am-form-group">
                    <span class="s1">策略数：</span>
                    <label class="am-form-label">
                        <input type="text" id="" class="am-form-field am-input-sm"  name="num" value="{$list['num']}"  placeholder=""/>
                    </label>
                </div> 
                <div class="am-form-group">
                    <span class="s1">排名：</span>
                    <label class="am-form-label">
                        <input type="text" id="" class="am-form-field am-input-sm"   name="ran" value="{$list['ran']}"  placeholder=""/>
                    </label>
                </div> 
                <div class="am-form-group">
                    <span class="s1">股票：</span>
                    <label class="am-form-label">
                        <input type="text" id="" class="am-form-field am-input-sm" name="shares"  value="{$list['shares']}"  placeholder="例如: 大千生态【603955】"/>
                    </label>
                </div>
                <div class="am-form-group">
                    <span class="s1">时间：</span>
                    <label class="am-form-label">
                        <input type="text" id="buy_time" class="am-form-field am-input-sm" name="buy_time"
                               value="{$list['buy_time']}" placeholder="例如: 一周前"/>
                    </label>
                </div>
                <div class="am-panel-bd" style="padding-bottom: 1rem;margin-left: 13rem">
                    <button type="submit" class="am-btn am-btn-primary am-btn-sm" onclick="sub() ">确定</button>
                    <a href="index.html?a={$a}&b={$b}" class="am-btn am-btn-secondary am-btn-sm">返回</a>
                </div>
            </div>
    </div>
    </form>
</div>
</div>
{include file="public/editor" /}
{include file="public/foot" /}
<script type="text/javascript" src="/static/ajaxupload.js"></script>
<script type="text/javascript">
    $(function () {
        var nav = $('.left-sidebar li.sidebar-nav-link');
        nav.removeClass("active");
        nav.eq({$a}).find('ul').show();
        nav.eq({$a}).find('ul li').eq({$b}).find('a').addClass('active');
    });
    function sub() {
        var arr = parseFormJson("#form");
        $.ajax({
            url: "{:url('Listinfo/list_add_edit')}",
            data: {arr: arr},
            type: "post",
            success: function (r) {
                // console.log(r);
                // return false;
                if (r['code'] == 1) {
                    alert_open(r['msg'])
                } else {
                    alert_msg(r['msg']);
                }
            }
        });
    }
</script>
<script type="text/javascript">
    $(function () {

        var button = $('#upload_button'), interval;
        var confirmDiv = $('#uploadPhotoConfirm');
        var fileType = 'pic', fileNum = 'one';
        new AjaxUpload(button, {
            action: "{:url('Upload/upload')}",
            name: 'file',
            onSubmit: function (file, ext) {
                if (fileType == 'pic') {
                    if (ext && /^(jpg|png|jpeg|gif|JPG)$/.test(ext)) {
                        this.setData({'info': '文件类型为图片'});
                    } else {
                        confirmDiv.text('文件格式错误，请上传格式为.png .jpg .jpeg 的图片');
                        return false;
                    }
                }
                confirmDiv.text('文件上传中');
                if (fileNum == 'one') this.disable();
                interval = window.setInterval(function () {
                    var text = confirmDiv.text();
                    if (text.length < 14) {
                        confirmDiv.text(text + '.');
                    } else {
                        confirmDiv.text('文件上传中');
                    }
                }, 200);
            },
            onComplete: function (file, response) {
                if (response != 'success') {
                    if (response == '2') {
                        confirmDiv.text("文件格式错误，请上传格式为.png .jpg .jpeg 的图片");
                    } else {
                        confirmDiv.text('上传完成');
                        $("#newPhotoName").val("/uploads/" + response);
                        $("#newPhoto").attr("src", "/uploads/" + response);
                        $('#no').show();
                    }
                }
                window.clearInterval(interval);
                this.enable();
                if (response == 'success') alert('上传成功');
            }
        });
    });
</script>
</body>
</html>