<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/meta" /}
    {include file="public/link" /}
</head>
<body data-type="index" class="theme-white">
<div class="am-g tpl-g">
    {include file="public/header" /}
    {include file="public/left" /}
    {include file="public/content_top" /}
    <ol class="am-breadcrumb">
        <li><a href="../home/index.html" class="am-icon-home">首页</a></li>
        <li><a href="#">轮播管理</a></li>
        <li class="am-active">轮播列表</li>
    </ol>
    <div class="widget am-cf">
        <div class="am-form-inline" role="form">
            <span>日期范围：</span>
            <div class="am-form-group ">
                <input type="text" class="am-form-field am-input-sm" name="start" placeholder="请选择起始日期"
                       data-am-datepicker onfocus="this.blur()" value="{$arr.start_query}"/>
            </div>
            <div class="am-form-group ">
                <input type="text" class="am-form-field am-input-sm" name="end" placeholder="请选择结束日期" data-am-datepicker
                       onfocus="this.blur()" value="{$arr.end_query}"/>
            </div>
            <button type="button" class="am-btn am-btn-primary am-btn-sm" onclick="info_query()">查询</button>
            <button type="button" class="am-btn am-btn-warning am-btn-sm" onclick="clear_query()">清除查询</button>
        </div>
        <hr data-am-widget="divider" class="am-divider am-divider-default"/>
        <div class="widget-body widget-body-lg am-fr">
            <div class="am-scrollable-horizontal">
                <table class="{$table}">
                    <thead>
                    <tr>
                        <th>排序</th>
                        <th>轮播图片</th>
                        <th>轮播名称</th>
                        <th>URL</th>
                        <th>轮播类型</th>
                        <th>添加时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="list">
                    {volist name="list" id="vo" empty="$empty"}
                    <tr>
                        <td>{$vo.sort}</td>
                        <td>
                            <img id="newPhoto" src="{$vo.pic}" style="max-height:150px;max-width:100px;"/>
                        </td>
                        <td>{$vo.title}</td>
                        <td>{$vo.url}</td>
                        <td>{$vo.cate_name}</td>
                        <td>{$vo.time_text}</td>
                        <td>
                            {switch name="$vo.type" }
                            {case value="1"}
                            <a href="del.html?id={$vo.id}" onclick='return del();'
                               class="am-btn am-btn-warning am-btn-xs">删除</a>
                            <a href="edit.html?id={$vo.id}" class="am-btn am-btn-success am-btn-xs">修改</a>
                            {/case}
                            {case value="2"}
                            <a href="edit.html?id={$vo.id}" class="am-btn am-btn-success am-btn-xs">修改</a>
                            {/case}
                            {case value="3"}
                            <a href="edit.html?id={$vo.id}" class="am-btn am-btn-success am-btn-xs">修改</a>
                            {/case}
                            {default /}
                            <a href="edit.html?id={$vo.id}" class="am-btn am-btn-success am-btn-xs">修改</a>
                            {/switch}
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                <div class="am-pagination-left">{$page}</div>
            </div>
        </div>
    </div>
</div>
{include file="public/foot" /}
<script type="text/javascript">
    function del() {
        if (confirm("确定要删除吗？")) {
            return true;
        } else {
            return false;
        }
    }
    $(function () {
        var nav = $('.left-sidebar li.sidebar-nav-link');
        nav.removeClass("active");
        nav.eq({$a}).find('ul').show();
        nav.eq({$a}).find('ul li').eq({$b}).find('a').addClass('active');
    });
</script>
</body>
</html>