<ion-view view-title="恒瑞国际" class="back_ec">
	<header class="header back_black">
		<i class="header_i1 icon ion-chevron-left" ng-click="back()"></i>
		<b class="white">设定签约银行</b>
	</header>
	<ion-content class="top" style="background:#ECECEC;">
		<div class="gold_box">
			<div class="gold_input ma_bom25">
				<span>姓名</span>
				<input type="text" value="" ng-model="inputData.user_name"/>
			</div>
			<div class="gold_input ma_bom25">
				<span>身份证号</span>
				<input type="text" value="" ng-model="inputData.id_card"/>
			</div>
			<div class="gold_input ma_bom25">
				<span>银行</span>
				<select ng-change="change_bank()" ng-model="bank_id" ng-options="item.id as item.name for item in bank_list">
				</select>
			</div>
			<div class="gold_input ma_bom25">
				<span>开户行地址</span>
				<input type="text" ng-model="inputData.address"/>
			</div>
			<div class="gold_input">
				<span>银行卡号</span>
				<input type="text" ng-model="inputData.bank_card"/>
			</div>
		</div>
		<button class="bind_sure" ng-click="bind_bank()">提交</button>
		<div style="height: 5rem;"></div>
	</ion-content>
</ion-view>