<ion-view view-title="恒瑞国际" class="order_history_wrap">
	<header class="header">
		<img src="img/zuo.png" class="left_img" ng-click="back()" />
		<b>历史账单查询</b>
	</header>
	<ion-content class="top order_history_box" overflow-scroll="true">
		<div class="d_box">
			<div class="d_top">
				<div class="f_l">
					<input class="f_l" style="background: #eee;" type="text" id="date1" class="aa-input" ng-model="inputData.startDate" value="" title="" readonly/>
					<img class="f_l" src="img/rili.png"/>
				</div>
				<button class="btn f_r">查&nbsp;&nbsp;询</button>
			</div>
			<div class="d_con">
				<div>
					<div class="ta_c">没有结算信息</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>