<ion-view view-title="恒瑞国际" class="assets_wrap">
	<header class="header">
		<div class="loader">Loading...</div>
		<img class="left_img" ng-show="refreshIf==0" ng-click="refresh()" src="img/shuaxin.png"/>
		<b>资金信息</b>
		<img class="right_img" src="img/set.png" ng-click="showMenu()"/>
	</header>
	<ion-content class="top" overflow-scroll="true">
		<div class="d_assets">
			<div class="d_acc">
				<span>国际-NAJXCI：</span>
				<span>123456</span>
			</div>
			<ul>
				<li class="ov_a">
					<span class="f_l">结算准备金</span>
					<span class="f_r">-0.00</span>
				</li>
				<li class="ov_a">
					<span class="f_l">信用资金</span>
					<span class="f_r">-0.00</span>
				</li>
				<li class="ov_a">
					<span class="f_l">今日入金</span>
					<span class="f_r">-0.00</span>
				</li>
				<li class="ov_a">
					<span class="f_l">今日出金</span>
					<span class="f_r">-0.00</span>
				</li>
				<li class="ov_a">
					<span class="f_l">静态权益</span>
					<span class="f_r">-0.00</span>
				</li>
				<li class="ov_a">
					<span class="f_l">平仓盈亏</span>
					<span class="f_r">-0.00</span>
				</li>
				<li class="ov_a">
					<span class="f_l">手续费</span>
					<span class="f_r">-0.00</span>
				</li>
				<li class="ov_a">
					<span class="f_l">动态权益</span>
					<span class="f_r">-0.00</span>
				</li>
				<li class="ov_a">
					<span class="f_l">占用保证金</span>
					<span class="f_r">-0.00</span>
				</li>
				<li class="ov_a">
					<span class="f_l">冻结保证金</span>
					<span class="f_r">-0.00</span>
				</li>
				<li class="ov_a">
					<span class="f_l">冻结手续费</span>
					<span class="f_r">-0.00</span>
				</li>
				<li class="ov_a">
					<span class="f_l">可用资金</span>
					<span class="f_r">-0.00</span>
				</li>
				<li class="ov_a">
					<span class="f_l">风险度</span>
					<span class="f_r">-0.00</span>
				</li>
			</ul>
		</div>
	</ion-content>
</ion-view>