<ion-tabs class="tabs1 tabs-icon-top tabs-positive" style='background: #28a54c;'>
	<ion-tab title="合约" icon-off="icon ion-ios-heyue" icon-on="icon ion-ios-heyue" ui-sref="tab.tab1">
		<ion-nav-view name="tab-tab1"></ion-nav-view>
	</ion-tab>
	<ion-tab title="资金" icon-off="icon ion-ios-jiaoyi" icon-on="icon ion-ios-jiaoyi" ng-click="go_tab(2)">
		<ion-nav-view name="tab-tab2"></ion-nav-view>	
	</ion-tab>
	<ion-tab title="交易" icon-off="icon ion-ios-zijin" icon-on="icon ion-ios-zijin" ng-click="go_tab(3)">
		<ion-nav-view name="tab-tab3"></ion-nav-view>
	</ion-tab>
	<!--<ion-tab title="交易" icon-off="icon ion-hammer" icon-on="icon ion-hammer" ui-sref="tab.tab4" ng-click="go_deal()">
		<ion-nav-view name="tab-tab4"></ion-nav-view>
	</ion-tab>-->
	<!--<ion-tab title="交易" icon-off="icon ion-hammer" icon-on="icon ion-hammer" ng-click="go_deal()">
		<ion-nav-view name="tab-tab4"></ion-nav-view>
	</ion-tab>-->
</ion-tabs>