<ion-tabs class="tabs1 tabs2 tabs-icon-top tabs-positive" style='background: #28a54c;'>
	<ion-tab title="条件单" icon-off="icon ion-ios-tiaojiandan" icon-on="icon ion-ios-tiaojiandan" ui-sref="tabs2.taba">
		<ion-nav-view name="tabs2-taba"></ion-nav-view>
	</ion-tab>
	<ion-tab title="盘口" icon-off="icon ion-ios-pankou" icon-on="icon ion-ios-pankou" ui-sref="tabs2.tabb">
		<ion-nav-view name="tabs2-tabb"></ion-nav-view>	
	</ion-tab>
	<ion-tab title="分时图" icon-off="icon ion-ios-fenshitu" icon-on="icon ion-ios-fenshitu" ui-sref="tabs2.tabc">
		<ion-nav-view name="tabs2-tabc"></ion-nav-view>
	</ion-tab>
	<ion-tab title="K线图" icon-off="icon ion-ios-Kxian" icon-on="icon ion-ios-Kxian" ui-sref="tabs2.tabd">
		<ion-nav-view name="tabs2-tabd"></ion-nav-view>
	</ion-tab>
	<ion-tab title="下单" icon-off="icon ion-ios-zijin" icon-on="icon ion-ios-zijin" ui-sref="tabs2.tabe">
		<ion-nav-view name="tabs2-tabe"></ion-nav-view>
	</ion-tab>
</ion-tabs>