<!DOCTYPE html>

<html lang="en">

<head>

    {include file="public/meta" /}

    {include file="public/link" /}

</head>

<body data-type="index" class="theme-white">

<div class="am-g tpl-g">

    {include file="public/header" /}

    {include file="public/left" /}

    <div class="tpl-content-wrapper">

        <div class="row-content am-cf">


            <div class="row am-cf">

                <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">

                    <div class="widget widget-purple am-cf"

                         style=" background: #57c8f2;border: 1px solid #57c8f2;border-top: 2px solid #57c8f2;">

                        <div class="widget-statistic-header">今日注册人数</div>

                        <div class="widget-statistic-body">

                            <div class="widget-statistic-value"> {$list}</div>

                            <span class="widget-statistic-icon am-icon-credit-card-alt"

                                  style="color: #5fbfe2"></span>

                        </div>

                    </div>

                </div>

                <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">

                    <div class="widget widget-purple am-cf"

                         style=" background: #57c8f2;border: 1px solid #57c8f2;border-top: 2px solid #57c8f2;">

                        <div class="widget-statistic-header">今日充值金额</div>

                        <div class="widget-statistic-body">

                            <div class="widget-statistic-value">￥{$number}</div>

                            <span class="widget-statistic-icon am-icon-credit-card-alt"

                                  style="color: #5fbfe2"></span>

                        </div>

                    </div>

                </div>

                <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">

                    <div class="widget widget-primary am-cf"

                         style="background: #ff6c60;border: 1px solid #ff6c60;border-top: 2px solid #ff6c60;">

                        <div class="widget-statistic-header">今日提现金额</div>

                        <div class="widget-statistic-body">

                            <div class="widget-statistic-value">￥{$num}</div>

                            <span class="widget-statistic-icon am-icon-credit-card-alt"

                                  style="color: #f9a6a5"></span>

                        </div>

                    </div>

                </div>

                <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">

                    <div class="widget widget-primary am-cf"

                         style="background: #ff6c60;border: 1px solid #ff6c60;border-top: 2px solid #ff6c60;">

                        <div class="widget-statistic-header">当前账户余额</div>

                        <div class="widget-statistic-body">

                            <div class="widget-statistic-value">￥{$account.account}</div>

                            <span class="widget-statistic-icon am-icon-credit-card-alt" style="color: #f9a6a5"></span>

                        </div>

                    </div>

                </div>

                <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">

                </div>

            </div>
            <div class="row am-cf">

                <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">

                    <div class="widget widget-purple am-cf"

                         style=" background: #57c8f2;border: 1px solid #57c8f2;border-top: 2px solid #57c8f2;">

                        <div class="widget-statistic-header">今日配资</div>

                        <div class="widget-statistic-body">

                            <div class="widget-statistic-value"> ￥{$capital}</div>

                            <span class="widget-statistic-icon am-icon-credit-card-alt"

                                  style="color: #5fbfe2"></span>

                        </div>

                    </div>

                </div>

                <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">

                    <div class="widget widget-purple am-cf"

                         style=" background: #57c8f2;border: 1px solid #57c8f2;border-top: 2px solid #57c8f2;">

                        <div class="widget-statistic-header">今日保证金</div>

                        <div class="widget-statistic-body">

                            <div class="widget-statistic-value">￥{$bond}</div>

                            <span class="widget-statistic-icon am-icon-credit-card-alt"

                                  style="color: #5fbfe2"></span>

                        </div>

                    </div>

                </div>

                <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">

                    <div class="widget widget-primary am-cf"

                         style="background: #ff6c60;border: 1px solid #ff6c60;border-top: 2px solid #ff6c60;">

                        <div class="widget-statistic-header">今日追加保证金</div>

                        <div class="widget-statistic-body">

                            <div class="widget-statistic-value">￥{$bonds}</div>

                            <span class="widget-statistic-icon am-icon-credit-card-alt"

                                  style="color: #f9a6a5"></span>

                        </div>

                    </div>

                </div>

               
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">

                </div>

            </div>
            <!-- <div class="row am-cf">

                <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">

                    <div class="widget widget-purple am-cf"

                         style=" background: #57c8f2;border: 1px solid #57c8f2;border-top: 2px solid #57c8f2;">

                        <div class="widget-statistic-header">今日买入金额</div>

                        <div class="widget-statistic-body">

                            <div class="widget-statistic-value"> ￥0.0</div>

                            <span class="widget-statistic-icon am-icon-credit-card-alt"

                                  style="color: #5fbfe2"></span>

                        </div>

                    </div>

                </div>

                <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">

                    <div class="widget widget-purple am-cf"

                         style=" background: #57c8f2;border: 1px solid #57c8f2;border-top: 2px solid #57c8f2;">

                        <div class="widget-statistic-header">今日卖出金额</div>

                        <div class="widget-statistic-body">

                            <div class="widget-statistic-value">￥45545</div>

                            <span class="widget-statistic-icon am-icon-credit-card-alt"

                                  style="color: #5fbfe2"></span>

                        </div>

                    </div>

                </div>
               <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">

                    <div class="widget widget-primary am-cf"

                         style="background: #ff6c60;border: 1px solid #ff6c60;border-top: 2px solid #ff6c60;">

                        <div class="widget-statistic-header">当前持仓市值</div>

                        <div class="widget-statistic-body">

                            <div class="widget-statistic-value">￥222</div>

                            <span class="widget-statistic-icon am-icon-credit-card-alt" style="color: #f9a6a5"></span>

                        </div>

                    </div>

                </div>
                 <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">

                    <div class="widget widget-primary am-cf"

                         style="background: #ff6c60;border: 1px solid #ff6c60;border-top: 2px solid #ff6c60;">

                        <div class="widget-statistic-header">今日结算盈亏</div>

                        <div class="widget-statistic-body">

                            <div class="widget-statistic-value">￥222</div>

                            <span class="widget-statistic-icon am-icon-credit-card-alt" style="color: #f9a6a5"></span>

                        </div>

                    </div>

                </div> -->
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">

                </div>

            </div>

            
        </div>

    </div>

</div>

{include file="public/foot" /}

<script type="text/javascript" src="/static/js/echarts.min.js"></script>

<script type="text/javascript">

    $(function () {

        var nav = $('.left-sidebar li.sidebar-nav-link');

        nav.removeClass("active");

        nav.eq(1).find('ul').show();
        // nav.eq(0).find('a').addClass("active");
        nav.eq(1).find('ul li').eq(1).find('a').addClass('active');

    });

    function frozen() {

        $.ajax({

            url: "{:url('Auto/index')}",

            success: function (data) {

                alert_open('操作成功');

            }

        });

    }

</script>

</body>

</html>