<div class="left-sidebar">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-link">
            <a href="../home/index.html">
                <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
            </a>
        </li>
        <li class="sidebar-nav-link">
            <a href="#" class="sidebar-nav-sub-title">
                <i class="am-icon-users sidebar-nav-link-logo"></i> 会员管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li>
                    <a href="../system/level.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员等级
                    </a>
                    <a href="../users/index.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员列表
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-nav-link">
            <a href="#" class="sidebar-nav-sub-title">
                <i class="am-icon-money sidebar-nav-link-logo"></i> 管理员账户
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li>
                    <a href="../admins/index.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 管理员列表
                    </a>
                </li>
                <li>
                    <a href="../admins/role.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 角色列表
                    </a>
                </li>
                <li>
                    <a href="../admins/functions.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 权限列表
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-nav-link">
            <a href="#" class="sidebar-nav-sub-title">
                <i class="am-icon-money sidebar-nav-link-logo"></i> 轮播管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li>
                    <a href="../banner/index.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 轮播列表
                    </a>
                </li>
                <li>
                    <a href="../banner/edit.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 添加轮播
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-nav-link">
            <a href="#" class="sidebar-nav-sub-title">
                <i class="am-icon-first-order sidebar-nav-link-logo"></i> 矿机管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li>
                    <a href="../Millss/index.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 矿机列表
                    </a>
                </li>
                <li>
                    <a href="../Millss/edit.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 添加矿机
                    </a>
                </li>
            </ul>
        </li>
        <!--<li class="sidebar-nav-link">
            <a href="#" class="sidebar-nav-sub-title">
                <i class="am-icon-table sidebar-nav-link-logo"></i> 申请管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li>
                    <a href="../apply/business.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家申请
                    </a>
                </li>
                <li>
                    <a href="../apply/withdrawals.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 提现申请
                    </a>
                </li>
                <li>
                    <a href="../apply/recharge.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 充值申请
                    </a>
                </li>
                <li>
                    <a href="../apply/goods.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商品申请
                    </a>
                </li>
                <li>
                    <a href="../apply/vip.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> VIP申请
                    </a>
                </li>
            </ul>
        </li>-->
        <li class="sidebar-nav-link">
            <a href="#" class="sidebar-nav-sub-title">
                <i class="am-icon-table sidebar-nav-link-logo"></i> 记录管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li>
                    <a href="../integral/register_log.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 注册记录
                    </a>
                </li>
                <li>
                    <a href="../integral/recharge_log.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 充值记录
                    </a>
                </li>
                <!--<li>
                    <a href="../integral/reward_log.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 奖励记录
                    </a>
                </li>
                <li>
                    <a href="../integral/goods_log.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商品记录
                    </a>
                </li>
                <li>
                    <a href="../integral/business_log.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家记录
                    </a>
                </li>
                <li>
                    <a href="../integral/withdrawals_log.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 提现记录
                    </a>
                </li>
                <li>
                    <a href="../integral/vip_log.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> VIP申请记录
                    </a>
                </li>-->
            </ul>
        </li>
        <li class="sidebar-nav-link">
            <a href="#" class="sidebar-nav-sub-title">
                <i class="am-icon-money sidebar-nav-link-logo"></i> 客服管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li>
                    <a href="../cust/index.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 客服列表
                    </a>
                </li>
                <li>
                    <a href="../cust/add.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 添加客服
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-nav-link">
            <a href="#" class="sidebar-nav-sub-title">
                <i class="am-icon-table sidebar-nav-link-logo"></i> 平台介绍
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li>
                    <a href="../games/index.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 平台介绍
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-nav-link">

            <a href="#" class="sidebar-nav-sub-title">

                <i class="am-icon-cogs sidebar-nav-link-logo"></i> 系统设置

                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>

            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li>
                    <a href="../system/level.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 等级参数
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-nav-link">

            <a href="#" class="sidebar-nav-sub-title">

                <i class="am-icon-star-half sidebar-nav-link-logo"></i> 参数管理

                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>

            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li>
                    <a href="../system/level.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 等级参数
                    </a>
                </li>
            </ul>
        </li>



    </ul>

</div>