<!DOCTYPE html>

<html lang="en">

<head>

    {include file="public/meta" /}

    {include file="public/link" /}

</head>

<body data-type="index" class="theme-white">

<div class="am-g tpl-g">

    {include file="public/header" /}

    {include file="public/left" /}

    {include file="public/content_top" /}

    <ol class="am-breadcrumb">

        <li><a href="../home/index.html" class="am-icon-home">首页</a></li>

        <li><a href="#">交易统计</a></li>

        <li class="am-active">历史成交</li>
    </ol>
    <div class="widget am-cf">

            <div class="am-form-inline" role="form">

            <span>日期范围：</span>

            <div class="am-form-group ">

                <input type="text" class="am-form-field am-input-sm" name="start" placeholder="请选择起始日期"

                       data-am-datepicker onfocus="this.blur()" value="{$arr.start_query}"/>

            </div>

            <div class="am-form-group ">

                <input type="text" class="am-form-field am-input-sm" name="end" placeholder="请选择结束日期" data-am-datepicker

                       onfocus="this.blur()" value="{$arr.end_query}"/>

            </div>

            <div class="am-form-group ">

                <input type="text" id="name" class="am-form-field am-input-sm" placeholder="请输入会员信息"

                       value="{$arr.name}"/>

            </div>

            <button type="button" class="am-btn am-btn-primary am-btn-sm" onclick="info_query()">查询</button>

            <button type="button" class="am-btn am-btn-warning am-btn-sm" onclick="clear_query()">清除查询</button>

        </div>

    <hr data-am-widget="divider" class="am-divider am-divider-default"/>

    <div class="widget-body widget-body-lg am-fr">

        <div class="am-scrollable-horizontal">

            <table class="{$table}">

                <thead>

                <tr>
                    <th>会员名称</th>
                    <th>单号</th>
                    <th>可用金额</th>
                    <th>金额</th>
                    <th>保证金</th>
                    <th>类型</th>
                    <th>配资倍数</th>
                    <th>预警线</th>
                    <th>平仓线</th>
                    <th>利息</th>
                    <th>状态</th>
                    <th>递延费</th>
                    <th>时间</th>
                    <th>利润</th>
                    <th>交易综合费</th>
                    <th>出售股票佣金</th>
                    <th>购买股票佣金</th>
                    <th>追加配资</th>
                    <th>追加保证金</th>
                    <th>续费时间</th>
                    <th>推荐人id</th>
                    <th>代理id</th>
                    <th>员工id</th>
                    <th>自动续费次数</th>
                    <th>短信</th>
                    <th>点卖盈亏</th>
                    <th>结算时间</th>
                    <th>证券代码</th>
                    <th>证券名称</th>
                    <th>数量</th>
                    <th>点买价格</th>
                    <th>卖出价格</th>
                </tr>

                </thead>

                <tbody id="list">

                {foreach $list as $val}

                <tr class="text-c">
                   
                    <td>{$val.user.name}</td>
                    <td>{$val.order}</td>
                    <td>{$val.total}</td>
                    <td>{$val.number}</td>
                    <td>{$val.bond}</td>
                    <td>{$val.capital_type}</td>
                    <td>{$val.multiple}</td>
                    <td>{$val.warning}</td>
                    <td>{$val.close}</td>
                    <td>{$val.ratio}</td>
                    <td>{$val.status}</td>
                    <td>{$val.fee}</td>
                    <td>{$val.time}</td>
                    <td>{$val.extra}</td>
                    <td>{$val.trade_fee}</td>
                    <td>{$val.sell_fee}</td>
                    <td>{$val.buy_fee}</td>
                    <td>{$val.increase_capital}</td>
                    <td>{$val.increase_bond}</td>
                    <td>{$val.renew_time}</td>
                    <td>{$val.reid}</td>
                    <td>{$val.agent}</td>
                    <td>{$val.staff}</td>
                    <td>{$val.times}</td>
                    <td>{$val.sms}</td>
                    <td>{$val.profit_loss}</td>
                    <td>{$val.clear_time}</td>
                    <td>{$val.code}</td>
                    <td>{$val.name}</td>
                    <td>{$val.num}</td>
                    <td>{$val.buy_price}</td>
                    <td>{$val.selling_price}</td>

                </tr>

                {/foreach}
                        <tr>
                        <th colspan="2"></th>
                        <th>{$total}</th>
                        <th>{$number}</th>
                        <th>{$bond}</th>
                        <th colspan="4"></th>
                        <th>{$ratio}</th>
                        <th colspan="1"></th>
                        <th>{$fee}</th>
                        <th colspan="1"></th>
                        <th>{$extra}</th>
                        <th>{$trade_fee}</th>
                        <th>{$sell_fee}</th>
                        <th>{$buy_fee}</th>
                        <th>{$increase_capital}</th>
                        <th>{$increase_bond}</th>
                        <th colspan="6"></th>
                        <th>{$profit_loss}</th>
                        <th colspan="3"></th>
                        <th>{$num}</th>
                        <th colspan="2"></th>
                    </tr>  

                </tbody>

            </table>

            <div class="am-pagination-left">{$page}</div>

        </div>

    </div>

</div>

</div>

{include file="public/foot" /}

<script type="text/javascript">
    
    $(function () {

        var nav = $('.left-sidebar li.sidebar-nav-link');

        nav.removeClass("active");

        nav.eq(4).find('ul').show();

        nav.eq(4).find('ul li').eq(7).find('a').addClass('active');

    });
    

</script>

</body>

</html>
