<ion-view view-title="恒瑞国际">
	<header class="header">
		<!--<img src="img/zuo.png" class="left_img" ng-click="back()" />-->
		<b>登录</b>
	</header>
	<ion-content class="bg_black top">
		<div class="form">
			<div ng-class="{true:'d_focus',false:''}[d_id==1]" ng-click="focus(1)">
				<span class="f_l">开户公司</span>
				<span class="f_l">{{inputData.com}}</span>
			</div>
			<div ng-class="{true:'d_focus',false:''}[d_id==2]" ng-click="focus(2)">
				<span class="f_l">交易账号</span>
				<input class="f_l" type="text" placeholder="请输入账号代码" ng-model="inputData.acc"/>
				<span ng-if="inputData.acc!=''" class="f_r iconfont icon-cuohao" ng-click="clear(0)"></span>
			</div>
			<div ng-class="{true:'d_focus',false:''}[d_id==3]" ng-click="focus(3)">
				<span class="f_l">交易密码</span>
				<input class="f_l" type="password" placeholder="忘记密码请联系开户公司" ng-model="inputData.pwd"/>
				<span ng-if="inputData.pwd!=''" class="f_r iconfont icon-cuohao" ng-click="clear(1)"></span>
			</div>
			<button class="btn" ng-click="sub()">登录</button>
		</div>
	</ion-content>
</ion-view>

