<!DOCTYPE html>

<html lang="en">

<head>

    {include file="public/meta" /}

    {include file="public/link" /}

</head>

<body data-type="index" class="theme-white">

<div class="am-g tpl-g">

    {include file="public/header" /}

    {include file="public/left" /}

    {include file="public/content_top" /}

    <ol class="am-breadcrumb">

        <li><a href="../home/index.html" class="am-icon-home">首页</a></li>

        <li><a href="#">代理管理</a></li>

        <li class="am-active">结算明细</li>
    </ol>
    <div class="widget am-cf">

            <div class="am-form-inline" role="form">

            <span>日期范围：</span>

            <div class="am-form-group ">

                <input type="text" class="am-form-field am-input-sm" name="start" placeholder="请选择起始日期"

                       data-am-datepicker onfocus="this.blur()" value="{$arr.start_query}"/>

            </div>

            <div class="am-form-group ">

                <input type="text" class="am-form-field am-input-sm" name="end" placeholder="请选择结束日期" data-am-datepicker

                       onfocus="this.blur()" value="{$arr.end_query}"/>

            </div>

            <div class="am-form-group ">

                <input type="text" id="name" class="am-form-field am-input-sm" placeholder="请输入会员信息"

                       value="{$arr.name}"/>

            </div>

            <button type="button" class="am-btn am-btn-primary am-btn-sm" onclick="info_query()">查询</button>

            <button type="button" class="am-btn am-btn-warning am-btn-sm" onclick="clear_query()">清除查询</button>

        </div>

    <hr data-am-widget="divider" class="am-divider am-divider-default"/>

    <div class="widget-body widget-body-lg am-fr">

        <div class="am-scrollable-horizontal">

            <table class="{$table}">

                <thead>

                                <tr>
                                    <th>订单号</th>
                                    <th>点卖人ID</th>
                                    <th>会员名称</th>
                                    <th>会员手机号</th>
                                    <th>保证金总额</th>
                                    <th>初始保证金</th>
                                    <th>购买时间</th>
                                    <th>证券代码</th>
                                    <th>证券名称</th>
                                    <th>买入价格</th>
                                    <th>卖出价格</th>
                                    <th>股数</th>
                                    <th>结算时间</th>
                                    <th>买入成交额</th>
                                    <th>点卖金额</th>
                                    <th>客户盈利分成</th>
                                    <th>平台盈利分成</th>
                                    <th>延期总费用</th>
                                    <th>服务费</th>
                                    <th>策略盈亏</th>
                                    <th>持仓天数</th>
                                </tr>
                </thead>

                <tbody id="list">

                                {foreach $list as $val}
                                <tr class="text-c">
                                    <td>{$val.order}</td>
                                    <td>{$val.user.id}</td>
                                    <td>{$val.user.real_name}</td>
                                    <td>{$val.user.phone}</td>
                                    <td>{$val.number}</td>
                                    <td>{$val.bond}</td>
                                    <td>{$val.time|date="Y-m-d H:i:s",###}</td>
                                    <td>{$val.code}</td>
                                    <td>{$val.name}</td>
                                    <td>{$val.buy_price}</td>
                                    <td>{$val.selling_price}</td>
                                    <td>{$val.num}</td>
                                    <td>{$val.clear_time|date="Y-m-d H:i:s",###}</td>
                                    <td>{$val.num*$val.buy_price}</td>
                                    <td>{$val.num*$val.selling_price}</td>
                                    <td>{$val.customer}</td>
                                    <td>{$val.plat}</td>
                                    <td>{$val.sum_fee}</td>
                                    <td>{$val.trade_fee}</td>
                                    {if condition="$val.profit_loss gt 0"}
                                    <td style="color:red">{$val.profit_loss}</td>
                                    {else/}
                                    <td style="color:green">{$val.profit_loss}</td>
                                    {/if}
                                    <td>{$val.day}</td>

                                </tr>
                                {/foreach}
                                <tr>
                                    <th colspan="4"></th>
                                    <th>{$number}</th>
                                    <th>{$bond}</th>
                                    <th colspan="9"></th>
                                    <th>{$ke}</th>
                                    <th>{$ping}</th>
                                    <th>{$sum_fee}</th>
                                    <th>{$trade_fee}</th>
                                    <th>{$profit_loss}</th>
                                    <th>{$day}</th>
                                </tr>  

                </tbody>

            </table>

            <div class="am-pagination-left">{$page}</div>

        </div>

    </div>

</div>

</div>

{include file="public/foot" /}

<script type="text/javascript">
    
    $(function () {

        var nav = $('.left-sidebar li.sidebar-nav-link');

        nav.removeClass("active");

        nav.eq(2).find('ul').show();

        nav.eq(2).find('ul li').eq(4).find('a').addClass('active');

    });
    

</script>

</body>

</html>
