body {
	font-family: helvetica;
	margin: 0;
	-webkit-overflow-scrolling: touch;
}
a, button, input {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
label{
	cursor: pointer;
	font-weight: inherit;
	vertical-align: middle;
}
button, input {
	outline: none;
	border-radius: 0;
	border: none;
}
input[type=checkbox], input[type=radio] {
	margin: 0;
}
a {
	text-decoration: none;
}
input {
	outline: none;
	vertical-align: middle;
	border: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
img {
	vertical-align: middle;
}
.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.red {
	color: #E15544!important;
}
.green {
	color: #40A310!important;
}
.yellow {
	color: #FFFF00!important;
}
.white {
	color: #fff!important;
}
.blue {
	color: #0000ff!important;
}
.back_red {
	color: #fff;
	background: #EB3D35;
}
.back_green {
	color: #fff;
	background: green;
}
.back_orange {
	color: #fff;
	background: orange;
}
.left {
	float: left;
}
.right {
	float: right;
}
.top{
	top: 0!important;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
p, div, span, button, input, ul, li, a, header, footer, form, label, img, body, html, small, h4, h1, h2, h3, h5, h6 {
	margin: 0;
	padding: 0;
}
.matop10{
	margin-top: 10px;
}
.matop25px {
	margin-top: 25px;
}
.paddtop25 {
	padding-top: 25px!important;
}
.mabom15 {
	margin-bottom: 15px!important;
}
.mabom25 {
	margin-bottom: 25px!important;
}
.mabom8 {
	margin-bottom: 8px!important;
}
.mabom5{
	margin-bottom: 5px!important;
}
.mabom10 {
	margin-bottom: 10px!important;
}
.mabom20 {
	margin-bottom: 20px!important;
}
.mabom18 {
	margin-bottom: 18px!important;
}
.mabom12 {
	margin-bottom: 12px!important;
}
.mabom30 {
	margin-bottom: 30px!important;
}
.maleft15{
	margin-left: 15px!important;
}
.maleft57{
	margin-left: 57px!important;
}
.maleft30{
	margin-left: 29px!important;
}
.maleft20{
	margin-left: 20px!important;
}
.maright5{
	margin-right: 5px!important;
}
html, body {
	height: 100%;
	width: 100%;
}
.position0 {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.transition {
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.rotate {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}
a:hover {
	text-decoration: none;
}

/*提示框*/

.tilps {
	background: transparent;
	z-index: 9;
	display: none;
}
.tilps p {
	text-align: center;
	width: 200px;
	font-size: 14px;
	line-height: 35px;
	height: 35px;
	background: #fff;
	margin: auto;
	-webkit-box-shadow: #000 0px 0px 10px;
	-moz-box-shadow: #000 0px 0px 10px;
	box-shadow: #000 0px 0px 10px;
	border-radius: 5px;
}

/*超出显示导航条样式*/

.over_y::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 3px;
	/*高宽分别对应横竖滚动条的尺寸*/
	height: 3px;
}
.over_y::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #666666;
}
.over_y::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 0;
	background: #2c2c2c;
}

/*超出显示导航条样式*/

.shadow_black {
	-webkit-box-shadow: #000 0px 0px 5px;
	-moz-box-shadow: #000 0px 0px 5px;
	box-shadow: #000 0px 0px 5px;
}