<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/meta" /}
    {include file="public/link" /}
    <style type="text/css">
        .am-form-group {
            width: 49%;
            display: inline-block;
        }
        .am-form-group span {
            min-width: 180px;
            text-align: right;
            display: inline-block;
        }
    </style>
</head>
<body data-type="index" class="theme-white">
<div class="am-g tpl-g">
    {include file="public/header" /}
    {include file="public/left" /}
    {include file="public/content_top" /}
    <ol class="am-breadcrumb">
        <li><a href="../home/index.html" class="am-icon-home">首页</a></li>
        <li><a href="#">参数管理</a></li>
        <li class="am-active">交易参数设置</li>
    </ol>
     <form class="am-cf" id="form" onsubmit="return false">
    <div class="widget am-cf">
        <hr data-am-widget="divider" class="am-divider am-divider-default"/>
        <div class="am-panel am-panel-primary">
                <div class="am-panel-hd">交易参数设置</div>
                <br>
               
                <div class="am-form-group">
                    <span class="s1">下单前确认：</span>
                    <label class="am-form-label">
                        <select name="istrue_placeorder" title="" class="am-form-field am-input-sm">
                            <option {$list['istrue_placeorder']==1?'selected':''} value="1" class="am-form-field am-input-sm">确认</option>
                            <option {$list['istrue_placeorder']==2?'selected':''} value="2" class="am-form-field am-input-sm">不确认</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">开仓默认手数：</span>
                    <label class="am-form-label">
                        <input type="text" id="open_transaction_number" class="am-form-field am-input-sm" name="open_transaction_number" value="{$list['open_transaction_number']}" />
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">报单最大手数：　</span>
                    <label class="am-form-label">
                        <input type="text" id="customs_max_number" class="am-form-field am-input-sm" name="customs_max_number" value="{$list['customs_max_number']}" />
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">平仓默认数量：　</span>
                    <label class="am-form-label">
                        <select name="close_number" title="" class="am-form-field am-input-sm">
                            <option {$list['close_number']==1?'selected':''} value="1" class="am-form-field am-input-sm">可平持仓量</option>
                            <option {$list['close_number']==2?'selected':''} value="2" class="am-form-field am-input-sm">开仓默认量</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">选择合约焦点位置：</span>
                    <label class="am-form-label">
                        <select name="select_order_focus" title="" class="am-form-field am-input-sm">
                            <option {$list['select_order_focus']==1?'selected':''} value="1" class="am-form-field am-input-sm">合约</option>
                            <option {$list['select_order_focus']==2?'selected':''} value="2" class="am-form-field am-input-sm">价格</option>
                            <option {$list['select_order_focus']==3?'selected':''} value="3" class="am-form-field am-input-sm">手数</option>
                            <option {$list['select_order_focus']==4?'selected':''} value="4" class="am-form-field am-input-sm">不处理</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">下单后焦点位置：</span>
                    <label class="am-form-label">
                        <select name="place_order_focus" title="" class="am-form-field am-input-sm">
                            <option {$list['place_order_focus']==1?'selected':''} value="1" class="am-form-field am-input-sm">合约</option>
                            <option {$list['place_order_focus']==2?'selected':''} value="2" class="am-form-field am-input-sm">价格</option>
                            <option {$list['place_order_focus']==3?'selected':''} value="3" class="am-form-field am-input-sm">手数</option>
                            <option {$list['place_order_focus']==4?'selected':''} value="4" class="am-form-field am-input-sm">不处理</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">下单后清空：    </span>
                    <label class="am-form-label">
                        <select name="place_order_close" title="" class="am-form-field am-input-sm">
                            <option {$list['place_order_close']==1?'selected':''} value="1" class="am-form-field am-input-sm">清空所有</option>
                            <option {$list['place_order_close']==2?'selected':''} value="2" class="am-form-field am-input-sm">清空价格</option>
                            <option {$list['place_order_close']==3?'selected':''} value="3" class="am-form-field am-input-sm">清空手数</option>
                            <option {$list['place_order_close']==4?'selected':''} value="4" class="am-form-field am-input-sm">清空价格和手数</option>
                            <option {$list['place_order_close']==4?'selected':''} value="4" class="am-form-field am-input-sm">不清空</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">单击行情买卖方向：    </span>
                    <label class="am-form-label">
                        <select name="click_market_direction" title="" class="am-form-field am-input-sm">
                            <option {$list['click_market_direction']==1?'selected':''} value="1" class="am-form-field am-input-sm">反向</option>
                            <option {$list['click_market_direction']==2?'selected':''} value="2" class="am-form-field am-input-sm">同向</option>
                            <option {$list['click_market_direction']==3?'selected':''} value="3" class="am-form-field am-input-sm">按ctrl临时取反</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">合约切换开平方向：    </span>
                    <label class="am-form-label">
                        <select name="order_cut_kaiping_direction" title="" class="am-form-field am-input-sm">
                            <option {$list['order_cut_kaiping_direction']==1?'selected':''} value="1" class="am-form-field am-input-sm">总是开仓</option>
                            <option {$list['order_cut_kaiping_direction']==2?'selected':''} value="2" class="am-form-field am-input-sm">自动开平</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">合约切换下单价格类型：    </span>
                    <label class="am-form-label">
                        <select name="order_cut_market_type" title="" class="am-form-field am-input-sm">
                            <option {$list['order_cut_market_type']==1?'selected':''} value="1" class="am-form-field am-input-sm">限价</option>
                            <option {$list['order_cut_market_type']==2?'selected':''} value="2" class="am-form-field am-input-sm">最新价</option>
                            <option {$list['order_cut_market_type']==3?'selected':''} value="1" class="am-form-field am-input-sm">对手价</option>
                            <option {$list['order_cut_market_type']==4?'selected':''} value="2" class="am-form-field am-input-sm">挂单价</option>
                            <option {$list['order_cut_market_type']==5?'selected':''} value="2" class="am-form-field am-input-sm">快速价</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">列表操作前确认：    </span>
                    <label class="am-form-label">
                        <select name="list_operation_is_true" title="" class="am-form-field am-input-sm">
                            <option {$list['list_operation_is_true']==1?'selected':''} value="1" class="am-form-field am-input-sm">确认</option>
                            <option {$list['list_operation_is_true']==2?'selected':''} value="2" class="am-form-field am-input-sm">不确认</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">双击挂单撤单：    </span>
                    <label class="am-form-label">
                        <select name="double_click_order" title="" class="am-form-field am-input-sm">
                            <option {$list['double_click_order']==1?'selected':''} value="1" class="am-form-field am-input-sm">确认</option>
                            <option {$list['double_click_order']==2?'selected':''} value="2" class="am-form-field am-input-sm">不确认</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">双击持仓平仓：    </span>
                    <label class="am-form-label">
                        <select name="double_click_open_close" title="" class="am-form-field am-input-sm">
                            <option {$list['double_click_open_close']==1?'selected':''} value="1" class="am-form-field am-input-sm">确认</option>
                            <option {$list['double_click_open_close']==2?'selected':''} value="2" class="am-form-field am-input-sm">不确认</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">双击持仓平仓下单价格：    </span>
                    <label class="am-form-label">
                        <select name="double_open_price" title="" class="am-form-field am-input-sm">
                            <option {$list['double_open_price']==1?'selected':''} value="1" class="am-form-field am-input-sm">对手价</option>
                            <option {$list['double_open_price']==2?'selected':''} value="2" class="am-form-field am-input-sm">快速成交价</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">双击持仓平仓下单手数：    </span>
                    <label class="am-form-label">
                        <select name="double_open_num" title="" class="am-form-field am-input-sm">
                            <option {$list['double_open_num']==1?'selected':''} value="1" class="am-form-field am-input-sm">可平持仓量</option>
                            <option {$list['double_open_num']==2?'selected':''} value="2" class="am-form-field am-input-sm">开仓默认量</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">快速反手：    </span>
                    <label class="am-form-label">
                        <select name="speediness_backhand" title="" class="am-form-field am-input-sm">
                            <option {$list['speediness_backhand']==1?'selected':''} value="1" class="am-form-field am-input-sm">确认</option>
                            <option {$list['speediness_backhand']==2?'selected':''} value="2" class="am-form-field am-input-sm">不确认</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">快速反手下单价格：    </span>
                    <label class="am-form-label">
                        <select name="speediness_backhand_open_price" title="" class="am-form-field am-input-sm">
                            <option {$list['speediness_backhand_open_price']==1?'selected':''} value="1" class="am-form-field am-input-sm">对手价</option>
                            <option {$list['speediness_backhand_open_price']==2?'selected':''} value="2" class="am-form-field am-input-sm">快速成交价</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">快速锁仓：    </span>
                    <label class="am-form-label">
                        <select name="speediness_locked_position" title="" class="am-form-field am-input-sm">
                            <option {$list['speediness_locked_position']==1?'selected':''} value="1" class="am-form-field am-input-sm">确认</option>
                            <option {$list['speediness_locked_position']==2?'selected':''} value="2" class="am-form-field am-input-sm">不确认</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">快速锁仓下单价格：    </span>
                    <label class="am-form-label">
                        <select name="speediness_locked_open_price" title="" class="am-form-field am-input-sm">
                            <option {$list['speediness_locked_open_price']==1?'selected':''} value="1" class="am-form-field am-input-sm">对手价</option>
                            <option {$list['speediness_locked_open_price']==2?'selected':''} value="2" class="am-form-field am-input-sm">快速成交价</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">快捷操作锁定下单板：    </span>
                    <label class="am-form-label">
                        <select name="shortcut_operation" title="" class="am-form-field am-input-sm">
                            <option {$list['shortcut_operation']==1?'selected':''} value="1" class="am-form-field am-input-sm">是</option>
                            <option {$list['shortcut_operation']==2?'selected':''} value="2" class="am-form-field am-input-sm">否</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">快捷操作前确认：    </span>
                    <label class="am-form-label">
                        <select name="shortcut_operation_is_sure" title="" class="am-form-field am-input-sm">
                            <option {$list['shortcut_operation_is_sure']==1?'selected':''} value="1" class="am-form-field am-input-sm">是</option>
                            <option {$list['shortcut_operation_is_sure']==2?'selected':''} value="2" class="am-form-field am-input-sm">否</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">快捷操作买开：　</span>
                    <label class="am-form-label">
                        <input type="text" id="shortcut_buy_open" class="am-form-field am-input-sm" name="shortcut_buy_open" value="{$list['shortcut_buy_open']}" />
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">快捷操作卖开：　</span>
                    <label class="am-form-label">
                        <input type="text" id="shortcut_sell_open" class="am-form-field am-input-sm" name="shortcut_sell_open" value="{$list['shortcut_sell_open']}" />
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">快捷操作买平：　</span>
                    <label class="am-form-label">
                        <input type="text" id="shortcut_buy_close" class="am-form-field am-input-sm" name="shortcut_buy_close" value="{$list['shortcut_buy_close']}" />
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">快捷操作卖平：　</span>
                    <label class="am-form-label">
                        <input type="text" id="shortcut_sell_close" class="am-form-field am-input-sm" name="shortcut_sell_close" value="{$list['shortcut_sell_close']}" />
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">快捷操作撤单：　</span>
                    <label class="am-form-label">
                        <input type="text" id="shortcut_operation_cancellations" class="am-form-field am-input-sm" name="shortcut_operation_cancellations" value="{$list['shortcut_operation_cancellations']}" />
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">快捷操作清仓：　</span>
                    <label class="am-form-label">
                        <input type="text" id="shortcut_operation_inventory" class="am-form-field am-input-sm" name="shortcut_operation_inventory" value="{$list['shortcut_operation_inventory']}" />
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">快捷操作买开价：    </span>
                    <label class="am-form-label">
                        <select name="shortcut_operation_buy_open" title="" class="am-form-field am-input-sm">
                            <option {$list['shortcut_operation_buy_open']==1?'selected':''} value="1" class="am-form-field am-input-sm">最新价</option>
                            <option {$list['shortcut_operation_buy_open']==2?'selected':''} value="2" class="am-form-field am-input-sm">对手价</option>
                            <option {$list['shortcut_operation_buy_open']==3?'selected':''} value="3" class="am-form-field am-input-sm">挂单价</option>
                            <option {$list['shortcut_operation_buy_open']==4?'selected':''} value="4" class="am-form-field am-input-sm">快速价</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">快捷操作卖开价：    </span>
                    <label class="am-form-label">
                        <select name="shortcut_operation_sell_open" title="" class="am-form-field am-input-sm">
                            <option {$list['shortcut_operation_sell_open']==1?'selected':''} value="1" class="am-form-field am-input-sm">最新价</option>
                            <option {$list['shortcut_operation_sell_open']==2?'selected':''} value="2" class="am-form-field am-input-sm">对手价</option>
                            <option {$list['shortcut_operation_sell_open']==3?'selected':''} value="3" class="am-form-field am-input-sm">挂单价</option>
                            <option {$list['shortcut_operation_sell_open']==4?'selected':''} value="4" class="am-form-field am-input-sm">快速价</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">快捷操作买平价：    </span>
                    <label class="am-form-label">
                        <select name="shortcut_operation_buy_close" title="" class="am-form-field am-input-sm">
                            <option {$list['shortcut_operation_buy_close']==1?'selected':''} value="1" class="am-form-field am-input-sm">最新价</option>
                            <option {$list['shortcut_operation_buy_close']==2?'selected':''} value="2" class="am-form-field am-input-sm">对手价</option>
                            <option {$list['shortcut_operation_buy_close']==3?'selected':''} value="3" class="am-form-field am-input-sm">挂单价</option>
                            <option {$list['shortcut_operation_buy_close']==4?'selected':''} value="4" class="am-form-field am-input-sm">快速价</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">快捷操作卖平价：    </span>
                    <label class="am-form-label">
                        <select name="shortcut_operation_sell_close" title="" class="am-form-field am-input-sm">
                            <option {$list['shortcut_operation_sell_close']==1?'selected':''} value="1" class="am-form-field am-input-sm">最新价</option>
                            <option {$list['shortcut_operation_sell_close']==2?'selected':''} value="2" class="am-form-field am-input-sm">对手价</option>
                            <option {$list['shortcut_operation_sell_close']==3?'selected':''} value="3" class="am-form-field am-input-sm">挂单价</option>
                            <option {$list['shortcut_operation_sell_close']==4?'selected':''} value="4" class="am-form-field am-input-sm">快速价</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">成交提示消息提示：    </span>
                    <label class="am-form-label">
                        <select name="message_alert_bargain" title="" class="am-form-field am-input-sm">
                            <option {$list['message_alert_bargain']==1?'selected':''} value="1" class="am-form-field am-input-sm">不提示</option>
                            <option {$list['message_alert_bargain']==2?'selected':''} value="2" class="am-form-field am-input-sm">窗口提示</option>
                            <option {$list['message_alert_bargain']==3?'selected':''} value="3" class="am-form-field am-input-sm">声音提示</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">下单提示：    </span>
                    <label class="am-form-label">
                        <select name="message_alert_buy" title="" class="am-form-field am-input-sm">
                            <option {$list['message_alert_buy']==1?'selected':''} value="1" class="am-form-field am-input-sm">不提示</option>
                            <option {$list['message_alert_buy']==2?'selected':''} value="2" class="am-form-field am-input-sm">窗口提示</option>
                            <option {$list['message_alert_buy']==3?'selected':''} value="3" class="am-form-field am-input-sm">声音提示</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">撤单提示：    </span>
                    <label class="am-form-label">
                        <select name="message_alert_cancellations" title="" class="am-form-field am-input-sm">
                            <option {$list['message_alert_cancellations']==1?'selected':''} value="1" class="am-form-field am-input-sm">不提示</option>
                            <option {$list['message_alert_cancellations']==2?'selected':''} value="2" class="am-form-field am-input-sm">窗口提示</option>
                            <option {$list['message_alert_cancellations']==3?'selected':''} value="3" class="am-form-field am-input-sm">声音提示</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">条件单提示：    </span>
                    <label class="am-form-label">
                        <select name="message_alert_condition" title="" class="am-form-field am-input-sm">
                            <option {$list['message_alert_condition']==1?'selected':''} value="1" class="am-form-field am-input-sm">不提示</option>
                            <option {$list['message_alert_condition']==2?'selected':''} value="2" class="am-form-field am-input-sm">窗口提示</option>
                            <option {$list['message_alert_condition']==3?'selected':''} value="3" class="am-form-field am-input-sm">声音提示</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">导出路径：　</span>
                    <label class="am-form-label">
                        <input type="text" id="deriva_path" class="am-form-field am-input-sm" name="deriva_path" value="{$list['deriva_path']}" />
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">下单板停靠位置：    </span>
                    <label class="am-form-label">
                        <select name="berth_location" title="" class="am-form-field am-input-sm">
                            <option {$list['berth_location']==1?'selected':''} value="1" class="am-form-field am-input-sm">靠左</option>
                            <option {$list['berth_location']==2?'selected':''} value="2" class="am-form-field am-input-sm">靠右</option>
                        </select>
                    </label>
                </div>

                <div class="am-form-group">
                    <span class="s1">是否展示持仓线：    </span>
                    <label class="am-form-label">
                        <select name="show_position_wire" title="" class="am-form-field am-input-sm">
                            <option {$list['show_position_wire']==1?'selected':''} value="1" class="am-form-field am-input-sm">显示</option>
                            <option {$list['show_position_wire']==2?'selected':''} value="2" class="am-form-field am-input-sm">不显示</option>
                        </select>
                    </label>
                </div>

                <div class="am-panel-bd" style="padding-bottom: 1rem;margin-left: 13rem">
                    <button type="submit" class="am-btn am-btn-primary am-btn-sm" onclick="sub() " >确定</button>
                    <a href="index.html" class="am-btn am-btn-secondary am-btn-sm">返回</a>
                </div>
        </div>
    {include file="public/content_foot" /}
</div>
</form>
{include file="public/foot" /}
<script type="text/javascript">
    $(function () {
        var nav = $('.left-sidebar li.sidebar-nav-link');
        nav.removeClass("active");
//        nav.eq(1).find('a').addClass("active");
        nav.eq({$a}).find('ul').show();
        nav.eq({$a}).find('ul li').eq({$b}).find('a').addClass('active');
    });
    function sub() {
        var arr = parseFormJson("#form");
        if(arr.p_names == ""){
            alert("请输入推荐人信息,或填无");
        }else{
            $.ajax({
                url: "{:url('Transaction/parameter_edit')}",
                data: {arr: arr},
                type: "post",
                success: function (r) {
                    // console.log(r);
                    // return false;
                    if (r['code'] == 1) {
                        alert_open(r['msg']);

                    } else {
                        alert_msg(r['msg']);
                    }
                }
            });
        }    
    }

     function sub_fied() {
        var arr = parseFormJson("#form");
        if(arr.reid == ""){
            alert_open("请输入推荐人信息,或填无");
        }else if(arr.reid != "无"){
            $.ajax({
                url: "{:url('Users/p_name')}",
                data: {arr: arr.reid},
                type: "post",
                success: function (r) {
                    if (r['code'] == 1) {
                        //alert_open(r['msg']);
                        document.getElementById("p_names").value=r['msg'];
                        document.getElementById("p_name").style.display="inline";
                    } else {
                        alert_msg(r['msg']);
                        document.getElementById("reid").value="";
                        document.getElementById("p_name").style.display="none";
                    }
                    
                }
            });
        }else if(arr.reid == "无"){
            document.getElementById("p_name").style.display="none";
        }    
    }
</script>
</body>
</html>
